<div class="w-full mb-4">
  @if (error) {
    <p class="mt-1 text-xs text-red-600">{{ error }}</p>
  }
  <label class="block text-sm font-medium text-gray-700 mb-1">
    {{ title }}
  </label>

  <input
    [type]="type"
    [placeholder]="placeholder"
    [value]="value"
    [disabled]="isDisabled"
    (input)="onInput($event)"
    (blur)="onBlur()"
    class="appearance-none block w-full px-3 py-2 border rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm transition duration-150 ease-in-out"
    [class.border-gray-300]="!error"
    [class.border-red-500]="error"
    [class.bg-gray-100]="isDisabled"
  />

  
</div>