<div>
  <app-text-area-field
        title="Commentaire"
        placeholder="Commentaire..."
        [value]="newCommentText"
        (valueChange)="newCommentText = $event"/>
  <button type="button" (click)="addComment()"> Add Comment </button>

  <!-- iterate over FormArray controls -->
  @for (ctrl of getControls(); track $index) {
    <app-editable-container
      (save)="updateComment($index)"
      (cancel)="resetComment($index)"
      (delete)="removeComment($index)"
      >

      <ng-template #viewMode>
        <div class="comment-view">
          <small>
            {{ (ctrl.get('auteur.nom')?.value || '') }} {{ (ctrl.get('auteur.prenom')?.value || '') }}
            — {{ ctrl.get('date')?.value | date:'short' }}
          </small>
          <div>{{ ctrl.get('contenu')?.value }}</div>
        </div>
      </ng-template>

      <ng-template #editMode>
        <app-text-area-field
          placeholder="Commentaire..."
          (valueChange)="updateNewCommentText($index, $event)"
          [value]="getNewCommentText($index)"
          />
      </ng-template>

    </app-editable-container>
  }
</div>